/hospital-case/.vs/Hospital/DesignTimeBuild
/hospital-case/.vs/Hospital/FileContentIndex
/hospital-case/.vs/Hospital/v17
/hospital-case/.vs/ProjectEvaluation
/hospital-case/Hospital.Application/bin/Debug/net8.0
/hospital-case/Hospital.Application/bin/Release/net8.0
/hospital-case/Hospital.Application/obj/Debug
/hospital-case/Hospital.Application/obj
/hospital-case/Hospital.WebApi/bin/Debug
/hospital-case/Hospital.WebApi/bin/Release
/hospital-case/Hospital.WebApi/obj
